.whitebox {
  background-color: #fafafa;
  position: absolute;
  top: 11%;
  left: 8%;
  opacity: 80%;
  border-radius: 20px;
  width: 84%;
  height: 80%;
  padding: 0 1.8rem;
}

.demo__name {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
}

.demo__main {
  width: 100%;
  height: 80%;
  display: flex;
}

/* demo fridge graphics */

.demo__fridge {
  width: 45%;
  height: 100%;
  margin-right: 2rem;
  padding: 1.5rem 0;

  position: relative;
}

.demo__fridge__bg {
  width: 100%;
  height: inherit;
}

.demo__fridge__bg__left {
  z-index: -10;
  width: 46.7%;
}

.demo__fridge__bg__right {
  z-index: -10;
  width: 52%;
}

.demo__fridge__items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  display: flex;
}

.demo__fridge__items__left,
.demo__fridge__items__right {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: inherit;
}

.demo__fridge__items__left {
  left: 0;
}
.demo__fridge__items__right {
  left: 50%;
}

.demo__fridge__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-1 {
  flex-basis: 36%;
}

.img-2 {
  flex-basis: 20%;
}

.img-3 {
  flex-basis: 44%;
}

.img-4 {
  flex-basis: 36%;
}

.img-5 {
  flex-basis: 25%;
}

.img-6 {
  flex-basis: 39%;
}

#mandu {
  width: 39%;
  align-self: flex-end;
  display: none;
}

#eggs {
  width: 52%;
  align-self: flex-end;
  display: none;
}

#dairy {
  width: 47%;
  display: none;
}

#seafood {
  width: 60%;
  align-self: flex-end;
  display: none;
}

#meat {
  width: 48%;
  align-self: flex-end;
  display: none;
}

#fruits {
  width: 27%;
  margin: 1rem;
  display: none;
}

#veges {
  width: 28%;
  display: none;
}

/* demo fridge input and list */

.demo__cart {
  width: 55%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.demo__input {
  background-color: #dddedf;
  padding: 0.5rem 0.6rem;
  border-top: 0.8rem solid #7eaaa6;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.demo__input__text {
  margin: 0 auto;
  margin-bottom: 10px;
}

.demo__input__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

.demo__input__category,
.demo__input__part,
.demo__input__name,
.demo__input__date,
.demo__input__btn {
  color: #346464;
  background-color: #c4c4c4;
  border: 1px solid #7eaaa6;
  border-radius: 3px;
  outline-style: none;
  transition: all 0.1s;
}
.demo__input__btn:active {
  transform: translateY(1px);
}

.demo__list {
  flex-grow: 1;
  background-color: #dddedf;
  border-bottom: 0.8rem solid #7eaaa6;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  position: relative;
}

.demo__list__tap {
  color: #ffffff;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.demo__list__tap__whole,
.demo__list__tap__fridge,
.demo__list__tap__freezer,
.demo__list__tap__normal {
  background-color: #7eaaa6;

  height: inherit;
  flex-basis: 25%;
  text-align: center;
}

.active {
  color: #346464;
  background-color: #dddedf;
}

.demo__list__showbox {
  flex-grow: 1;
  margin: 0 0;
  padding: 0 4rem;
  background-color: #dddedf;
}

.demo__list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1.5rem 0;
}

.demo__list__removeBtn {
  width: 1.1rem;
  height: 1.1rem;
}

.demo__list__name {
  flex-basis: 70%;
  padding-left: 0.8rem;
  text-align: left;
}

.demo__list__expiry__good {
  flex-basis: auto;
  padding: 2px 4px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #b3aa9f;
}

.demo__list__expiry__bad {
  flex-basis: auto;
  padding: 2px 4px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #705f52;
}
