#demo {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
}

.name__section {
  flex-basis: 10%;
}

.whiteBackground {
  flex-basis: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: relative;
}

.whiteBackground::after {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  content: "";
}

.left {
  /* border: 5px solid blue; */
  flex-basis: 45%;
  display: flex;
}

.right {
  flex-basis: 55%;
  border: 5px solid orange;
  display: flex;
  /* width: 100px;
  height: 100px;
  background-color: greenyellow; */
}

.fridge {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fridge_leftside {
  /* background: url("./img_fridge/left_fridge.png") center/cover no-repeat; */
  /* height: 500px;*/
  flex: 1 1 auto;
  border: 1px solid red;
  background-image: url("./img_fridge/left_fridge.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  padding: 20px;

  /* display: grid;
  grid-column: 300px;
  grid-row: 1fr 100px 1fr;
  grid-row-gap: 10px; */
}

.fridge_rightside {
  flex: 1 1 auto;
  background-image: url("./img_fridge/right_fridge.png");
  border: 1px solid red;
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  padding: 20px;
  /* background: url("./img_fridge/right_fridge.png") center/cover no-repeat;*/
}

#mandu {
  /* background-image: url("./img_fridge/mandu.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top; */
  width: 120px;
  height: auto;
  left: 130px;
  top: 5%;
  /* flex: 2 1 auto; */
  /* width: 132px;
  height: 120px;
  top: 48px;
  left: 56px; */
  display: none;
  position: absolute;
}

#dairy {
  position: absolute;
  width: 140px;
  height: auto;
  left: 130px;
  top: 70%;
  display: none;
}
#eggs {
  position: absolute;
  width: 190px;
  height: 40px;
  left: 100px;
  top: 50%;
  display: none;
  flex: 1 1 auto;
}

#seafood {
  position: absolute;
  width: 170px;
  height: 95px;
  top: 150px;
  left: 30%;
  display: none;
}
#meat {
  position: absolute;
  width: 170px;
  height: 120px;
  top: 320px;
  left: 30%;
  display: none;
}
#veges {
  position: absolute;

  width: 100px;
  height: 100px;
  top: 580px;
  left: 23%;
  display: none;
}
#fruits {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 520px;
  left: 60%;
  display: none;
}
/* --------------------------------- */
.container__DemoAdd {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.fridge__inputBox {
  flex: 2 2 auto;
  border-top: 5px solid #7eaaa6;
  width: 100%;
  padding: 20px;

  text-align: left;
}
.fridge__inputBox__title {
  color: #346464;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 10px;
}

.demo__inputContainer {
  padding-left: 20px;
}

#fridge__select {
  color: #346464;
  font-size: 12px;
  margin-right: 5px;
  border: 1px solid #7eaaa6;
  width: 100px;
  height: 25px;
}

#fridge__select__part {
  color: #346464;
  font-size: 12px;
  margin-right: 5px;
  border: 1px solid #7eaaa6;
  width: 100px;
  height: 25px;
}
.dateYouBuy {
  color: #346464;
  margin-right: 5px;
  height: 25px;
  width: 120px;
  border: 1px solid #7eaaa6;
}
.itemName {
  color: #346464;
  margin-right: 5px;
  border: 1px solid #7eaaa6;
  width: 150px;
  height: 25px;
}

.inputbutton__demo {
  color: #346464;
  border: 1px solid #7eaaa6;
  width: 150px;
  height: 25px;
}

/* -------------------------------------------- */
.demo__itemListBox {
  flex: 3 3 auto;
  border: 5px solid pink;
}
.demo__itemList__title {
  font-size: 20px;
  font-weight: bold;
  color: #346464;
}
.demo__itemList__category {
  height: 100%;
  border: 5px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}
.demopart_section {
  border: 2px dashed red;
  flex: 1 1 auto;
}
.demoul_section {
  flex: 1 1 auto;
  border: 2px dashed green;
  display: flex;
  flex-direction: column;
}

.fridge_Section {
  border: 5px solid yellow;
  height: 100%;
  display: block;
  flex: 1 1 auto;
}

.demoli {
}
.demoperiod {
}
