.demoUserInfo {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.name__section {
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
}

.loggedOut {
  font-weight: 400;
  background-color: #7eaaa6;
  width: 130px;
  font-size: 16px;
  color: #fafafa;
  border: 1px solid #7eaaa6;
  text-align: center;
  position: absolute;
  top: 32px;
  right: 40px;
  padding: 4px;
  cursor: pointer;
}

.loggedOut:hover {
  background-color: #346464;
}

.whiteBackground {
  width: 80%;
  display: flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
  margin: auto;
}

.whiteBackground::after {
  width: 100%;
  height: 80vh;
  background-color: #fafafa;
  position: absolute;
  z-index: -1;
  opacity: 0.85;
  content: "";
  border-radius: 10px;
}
.content {
  display: flex;
  height: 70vh;
  flex-direction: row;
}

.left {
  flex-basis: 45%;
  display: flex;
  margin-top: -4rem;
  padding-left: 2rem;
}

.right {
  flex-basis: 55%;
  display: flex;
}

.fridge_leftside {
  position: relative;
  padding-left: 24px;
}
.fridge_left {
  width: 250px;
  position: relative;
}
.fridge_rightside {
  position: relative;
}
.fridge_right {
  width: 279px;
  position: relative;
}

.left_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  top: 54px;
  left: 11px;
}
.right_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 28px;
  position: absolute;
  width: 100%;
  top: 88px;
}
.freshSection {
  display: flex;
}
.freshSection img {
  padding: 0px 8px;
}

#mandu {
  flex-basis: 3fr;
  opacity: 0;
  width: 80px;
  height: 120px;
  margin-bottom: 70px;
}

#dairy {
  flex-basis: 4fr;
  width: 140px;
  height: auto;

  opacity: 0;
}
#eggs {
  flex-basis: 1fr;
  width: 165px;
  height: 40px;
  margin-bottom: 40px;

  opacity: 0;
}

#seafood {
  width: 150px;
  height: 85px;

  opacity: 0;
  margin-bottom: 38px;
}
#meat {
  width: 150px;
  height: 100px;
  margin-bottom: 76px;

  opacity: 0;
}
#veges {
  width: 90px;
  height: 90px;

  opacity: 0;
}
#fruits {
  opacity: 0;
  width: 90px;
  height: 90px;
}

.container__DemoAdd {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 0px 40px 40px 40px;
}

.fridge__inputBox {
  flex: 2 2 auto;
  border-top: 5px solid #7eaaa6;
  width: 100%;
  padding: 12px;
  text-align: left;
}
.fridge__inputBox__title {
  color: #346464;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 10px;
}

.demo__inputContainer {
  padding-left: 20px;
}

#fridge__select {
  color: #346464;
  font-size: 12px;
  margin-right: 5px;
  border: 1px solid #7eaaa6;
  width: 150px;
  height: 25px;
}

#fridge__select__part {
  color: #346464;
  font-size: 12px;
  margin-right: 5px;
  border: 1px solid #7eaaa6;
  width: 150px;
  height: 25px;
}
.dateYouBuy {
  color: #346464;
  margin-right: 5px;
  height: 25px;
  width: 150px;
  border: 1px solid #7eaaa6;
}
.itemName {
  color: #346464;
  margin-right: 5px;
  border: 1px solid #7eaaa6;
  width: 150px;
  height: 25px;
}

.inputbutton__demo {
  color: #346464;
  border: 1px solid #7eaaa6;
  width: 150px;
  height: 25px;
}

/* -------------------------------------------- */
.demo__itemListBox {
  margin-top: 28px;
  flex: 3 3 auto;
}
.demo__itemList__title {
  font-size: 20px;
  font-weight: bold;
  color: #346464;
}
.demo__itemList__category {
  display: flex;
  flex-direction: column;

  height: 90%;
}

.demopart_section {
  display: flex;
}
.part {
  width: 100%;
  text-align: center;
  padding: 4px;
  border: 1px solid #7eaaa6;
  background: #7eaaa6;
  color: #fafafa;
  cursor: pointer;
}
.part.active {
  border: 1px solid #dddedf;
  background: #dddedf;
  color: #7eaaa6;
}

.demoul_section {
  flex: 1 1 auto;
  border: 2px dashed green;
  display: flex;
  flex-direction: column;
}

.fridge_Section {
  border: 5px solid #dddedf;
  height: 320px;
  background: #dddedf;

  overflow-y: auto;
  padding: 24px 32px;
}

.item__info div {
  margin: 4px;
}

.item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item__name {
  text-decoration: underline #7eaaa6 1px;
  font-size: 20px;
  cursor: pointer;
}
.item__name:hover {
  color: #7eaaa6;
}
.demo_note {
  color: #7eaaa6;
  font-size: 1rem;
}

.expired {
  border: 1px solid #705f52;
  background: #705f52;
  border-radius: 4px;
  color: #fafafa;
  padding: 2px;
}
.stillLeft {
  border: 1px solid #b3aa9f;
  background: #b3aa9f;
  border-radius: 4px;
  color: #fafafa;
  padding: 2px;
}

/* ipad landscape 1024 x 768 */
@media screen and (max-width: 1024px) {
  .demo__inputContainer {
    display: flex;
    flex-wrap: wrap;
  }

  #fridge__select,
  #fridge__select__part {
    width: 9.1rem;
    margin-bottom: 3px;
  }

  .demo__inputContainer input {
    width: 9.1rem;
    margin-bottom: 3px;
    padding-left: 0.4rem;
  }
  ::placeholder {
    font-size: 0.8rem;
  }

  .inputbutton__demo {
    width: 9.1rem;
  }

  .left {
    margin-top: -8rem;
    padding-left: 2rem;
  }
  .whiteBackground {
    width: 85%;
    display: flex;
    z-index: 1;
    position: relative;
    flex-direction: column;
    margin: auto;
  }

  .whiteBackground::after {
    width: 100%;
    height: 80vh;
    background-color: #fafafa;
    position: absolute;
    z-index: -1;
    opacity: 0.85;
    content: "";
    border-radius: 10px;
  }
  .content {
    display: flex;
    height: 80vh;
    flex-direction: row;
  }
  .demo__itemListBox {
    margin-top: -3rem;
    height: 45%;
  }

  .container__DemoAdd {
    height: 90%;
  }
}

/* 13inch 1680 x 1050 */
@media screen and (min-width: 1680px) {
  #fridge__select,
  #fridge__select__part {
    width: 10rem;
    height: 2.1rem;
    margin-bottom: 3px;
    font-size: 1rem;
    padding-left: 0.3rem;
  }

  .demo__inputContainer input {
    width: 10rem;
    margin-bottom: 3px;
    padding-left: 0.6rem;
    height: 2.1rem;
    font-size: 1rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  .inputbutton__demo {
    width: 10rem;
    font-size: 1rem;
    height: 2.1rem;
  }

  .fridge__inputBox__title {
    font-size: 1.8rem;
  }
  .demo_note {
    font-size: 1.1rem;
  }
}

/* 16inch 3072 x 1920 */
@media screen and (min-width: 3072px) {
  .demoUserInfo {
    height: 10rem;
  }

  .name__section {
    padding-top: 2.5rem;
    padding-left: 3.5rem;
    font-size: 4rem;
    font-weight: bold;
  }

  .loggedOut {
    width: 14rem;
    font-size: 2.5rem;
    top: 3.3rem;
    right: 3.5rem;
    padding: 4px;
  }

  .fridge__inputBox__title {
    font-size: 3.4rem;
  }
  .demo_note {
    font-size: 2.2rem;
  }

  #fridge__select,
  #fridge__select__part {
    width: 20rem;
    height: 4rem;
    margin-bottom: 3px;
    font-size: 2rem;
    padding-left: 1rem;
  }

  .demo__inputContainer {
    margin-top: 3rem;
  }
  .demo__inputContainer input {
    width: 20rem;
    margin-bottom: 3px;
    padding-left: 1.4rem;
    height: 4rem;
    font-size: 2rem;
  }
  ::placeholder {
    font-size: 2rem;
  }
  .inputbutton__demo {
    width: 20rem;
    font-size: 2rem;
    height: 4rem;
  }

  .demo__itemListBox {
    /* margin-top: -3rem; */
    height: 60%;
  }

  .fridge_Section {
    height: 80%;
  }
  .demopart_section {
    height: 5.5rem;
    font-size: 2.4rem;
  }
  .part {
    padding-top: 0.7rem;
  }
}

/* 27inch 3840 x 2160 */
@media screen and (min-width: 3840px) {
  .demoUserInfo {
    padding-top: 2rem;
  }
  .container__DemoAdd {
    margin-top: 4.5rem;
  }

  .loggedOut {
    width: 14.5rem;
    font-size: 2.7rem;
    top: 6rem;
    right: 4rem;
    padding: 4px;
  }
}
