.Myfridge__container {
  display: flex;
  width: 100%;
  height: 88%;
  flex-direction: column;
}

.whiteBackground_myfridge {
  width: 80%;
  display: flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
  height: 80vh;
  /* height: 55em; */
  margin: auto;
}

.whiteBackground_myfridge::after {
  width: 100%;
  height: 80vh;
  background-color: #fafafa;
  position: absolute;
  z-index: -1;
  opacity: 0.85;
  content: "";
  border-radius: 10px;
}

.Myfridge__userbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 10%;
  width: 100%;
}

.Myfirdge__note {
  font-size: 1.1rem;
  color: #7eaaa6;
}

.username__myfridge {
  font-size: 32px;
  color: #000000;
  /* text-align: start; */
  height: 80px;
  flex: 3 1 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 56px;
  font-weight: bold;
}
.spaceMaker {
  flex: 4 1 auto;
}
.logoutContainer {
  width: 140px;
  height: 40px;
  margin-top: 8px;
  /* flex: 1 1 auto; */
  margin-right: 50px;
}

.logout {
  color: #fafafa;
  font-size: 16px;
  width: 140px;
  border: 1px solid #7eaaa6;
  background-color: #7eaaa6;
  padding: 8px;
  /* position: absolute; */
  right: 64px;
  /* top: 50px; */
  cursor: pointer;
  outline-style: none;
}

.myfridge__maincontent {
  flex-basis: 60%;
  display: flex;
  /* border: 1px solid orangered; */
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

#myfridge {
  display: flex;
  justify-content: space-around;
}

.left {
  /* width: 100%; */
  display: flex;
  flex-basis: 65%;
}

.fridge_leftside {
  flex: 1 1 auto;
  background-image: url("./img_fridge/left_fridge.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  padding: 20px;
}

.fridge_rightside {
  flex: 1 1 auto;

  background-image: url("./img_fridge/right_fridge.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  padding: 2.2rem;
}

#mandu-m {
  width: 120px;
  height: auto;
  left: 200px;
  top: 21%;

  display: none;
  position: absolute;
}

#dairy-m {
  position: absolute;
  width: 150px;
  height: auto;
  left: 180px;
  top: 70%;
  display: none;
}
#eggs-m {
  position: absolute;
  width: 210px;
  height: 48px;
  left: 150px;
  top: 54%;
  display: none;
  flex: 1 1 auto;
}

#seafood-m {
  position: absolute;
  width: 170px;
  height: 115px;
  top: 234px;
  left: 37%;
  display: none;
}
#meat-m {
  position: absolute;
  width: 170px;
  height: 120px;
  top: 418px;
  left: 37%;
  display: none;
}
#veges-m {
  position: absolute;

  width: 110px;
  height: 110px;
  top: 652px;
  left: 35%;
  display: none;
}
#fruits-m {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 652px;
  left: 43%;
  display: none;
}

.right__my {
  flex-basis: 35%;
  display: flex;
  margin: 8px 30px 56px 30px;
  flex-direction: column;
}

.part__division {
  flex: 1 0 auto;
  display: flex;
  margin-top: 8px;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  height: 40px;
}
.partList {
  cursor: pointer;
  flex: 1 1 auto;
  padding: 0.3em 1em;
  text-align: center;
  background-color: #7eaaa6;
  color: #dddedf;
  height: 100%;
}

.partList:hover {
  background-color: #4a7575;
}

.partList_click {
  height: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #dddedf;
  color: #7eaaa6;
}

.partList_click:hover {
  background-color: #dddedf;
}

.sidebar_container {
  flex: 10 1 auto;
  background-color: #dddedf;
  width: 100%;
  height: 400px;
  overflow-y: auto;
}

.button_area {
  flex: 1 1 auto;
}

.bundleOfList {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.part__TotalList__minus {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 32px;
  margin-left: 30px;
  text-align: center;
  background-color: red;
  color: #fafafa;
  cursor: pointer;
  line-height: 16px;
  margin-top: 8px;
  cursor: pointer;
}

.part__TotalList__item {
  display: inline-block;
  text-decoration: underline #7eaaa6 2px;
  color: #000000;
  font-size: 18px;
  width: 200px;
  font-weight: 600;
  vertical-align: middle;
  padding: 7px 5px;
  text-align: left;
  cursor: pointer;
}

.part__TotalList__item:hover {
  color: #4a7575;
}

.part__Yet__expired {
  display: inline-block;
  margin-left: 80px;
  color: #fafafa;
  font-size: 16px;
  width: 100px;
  height: 34px;
  text-align: center;
  margin-top: 2px;
  padding-top: 5px;
  background-color: #b3aa9f;
  margin-right: 10px;
  border-radius: 10px;
}

.part__expired {
  display: inline-block;
  margin-left: 80px;
  color: #fafafa;
  font-size: 16px;
  width: 100px;
  height: 34px;
  border-radius: 10px;
  text-align: center;
  padding-top: 4px;
  background-color: #705f52;
  margin-right: 10px;
}

.myfridge__button {
  text-align: center;
  background-color: #7eaaa6;
  color: #fafafa;
  padding: 0.6em 0px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.myfridge__button:hover {
  background-color: #4a7575;
}

/* ipad landscape 1024 x 768 */
@media screen and (max-width: 1024px) {
  .username__myfridge {
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  .Myfirdge__note {
    font-size: 1.2rem;
    margin-top: -2rem;
  }

  .fridge_rightside {
    padding: 2rem;
  }

  .right__my {
    flex-basis: 42%;
  }

  .partList {
    font-size: 1.1rem;
  }

  .partList_click {
    font-size: 1.1rem;
  }

  .logoutContainer {
    width: 4rem;
    height: 3rem;
    margin-top: 2rem;
    margin-right: 4.2rem;
  }

  .logout {
    font-size: 0.9rem;
    width: 5rem;
  }

  #myfridge {
    height: 30em;
    justify-content: center;
  }
}

/* 13inch 1680 x 1050 */
@media screen and (min-width: 1680px) {
  .Myfridge__userbox {
    padding-top: 2rem;
  }

  .fridge_rightside {
    padding: 2.4rem;
  }

  #myfridge {
    padding-top: 5rem;
  }
}

/* 16inch 3072 x 1920 */
@media screen and (min-width: 3072px) {
  .logo {
    margin: 3rem 0px 0px 4rem;
    width: 12em;
  }

  .Myfridge__userbox {
    padding-top: 5rem;
  }

  .username__myfridge {
    margin-left: 10rem;
    font-size: 5rem;
  }

  .Myfirdge__note {
    font-size: 3rem;
    margin-top: -2rem;
  }

  .fridge_rightside {
    padding: 3.2rem;
  }

  .logoutContainer {
    width: 5rem;
    height: 3rem;
    margin-top: 3rem;
    margin-right: 18.5rem;
  }

  .logout {
    font-size: 2rem;
    padding: 1rem 2rem;
    width: 12rem;
  }

  .partList {
    font-size: 2.4rem;
  }

  .partList_click {
    padding-bottom: -0.4rem;
    font-size: 2.4rem;
  }

  .myfridge__button {
    font-size: 2rem;
    height: 5rem;
  }

  #myfridge {
    margin-top: 5rem;
    padding-top: 5rem;
    height: 72em;
  }
}

/* 27inch 3840 x 2160 */
@media screen and (min-width: 3840px) {
  #myfridge {
    margin-top: 7rem;
    padding-top: 7rem;
    height: 80em;
  }
}
