* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px 0px;
}

#main {
  height: 100vh;
  background: url("./img/fridge.jpeg");
  opacity: 85%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/* .main__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("img/mainImage.jpg") center/cover no-repeat;
  height: 100%;
  text-align: center;
}
.main__description {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.main__buttonBox {
  display: flex;
  justify-content: center;
}
.main__btn {
  margin: 8px;
} */
