* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px 0px;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

#main::after {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('./img/fridge.png');
  opacity: 0.85;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  content: '';
  top: 0;
  left: 0;
  z-index: -10;
}

.logo {
  margin: 2rem 0px 0px 4rem;
  padding-bottom: 16px;
}
