* {
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main__img {
  display: flex;
  align-items: center;
  justify-content: center;

  /* background: url('./img/냉장고') center/cover no-repeat; */
  height: 80%;
  text-align: center;
}
.main__description {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.main__buttonBox {
  display: flex;
  justify-content: center;
}
.main__btn {
  margin: 8px;
}
